# deps
node_modules/

# build
dist/

# content symlink / cache (created by `scripts/link`)
src/content

# env
.env
public-override/

# astro
.astro/

# zig
scripts/micropub-server/.zig-cache/
scripts/micropub-server/zig-out/

# OS
.DS_Store
